
*{
    background-color: rgb(105, 170, 255);
    font-family: sans-serif;
}

.login__container{
    margin-left: 25%;
}

.login__heading{
    color: blanchedalmond;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: normal;
}

.login__admin__link a{
    text-decoration: none;
    color: whitesmoke;
}

.login__admin__link{
    border: whitesmoke 2px solid;
    width: 100px;
    padding: 10px;
}
