* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.block {
  margin: 15px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.block h2 {
  flex: 1;
}

.block td {
  color: rgb(5, 5, 83);
  border: 1px solid green;
  padding: 0 5px;
  min-width: 100px;
  text-align: center;
  font-size: 40px;
}
