* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
}

.options__container ul {
  list-style: none;
}

.options__container a {
  text-decoration: none;
}

.options__container {
  margin: 5% 25%;
}

.option {
  border: 2px white solid;
  padding: 10px;
  border-radius: 10px;
  height: 15vh;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover{
    background-color: rgb(47, 223, 47);
    color: black;
    font-weight: bolder;
    font-size: large;
}

